.footer {
    background-color: $primary;
    color: #ffffff;
    padding: 60px 0;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 20px;
    
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    &__col {
        margin-left: 20px;
        margin-right: 20px;
        max-width: 350px;
        margin-bottom: 30px;
    }

    &__logo {
        display: block;
        margin-bottom: 30px;
    }

    &__copy {
        margin-bottom: 20px;
    }

    &__policy {
        text-decoration: underline;
    }

    &__nav {

        li {
            margin-bottom: 6px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__title { 
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 30px;
    }

    &__subscribe {
        margin-bottom: 45px;
    }

    &__contacts {
        address {
            font-style: normal;
        }

        li {
            margin-bottom: 20px;
            a, span {
                display: flex;
                align-items: flex-start;
            }

            img {
                display: inline-block;
                margin-right: 10px;
                margin-top: 2px;
            }
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
