*, 
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: $black;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
h6 {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 17px 40px;
    color: #ffffff;
    background-color: $primary;
    border: none;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    min-width: 200px;
    transition: .3s ease;
    border: 1px solid transparent;

    &:hover {
        color: $primary;
        background-color: #fff;
        border-color: $primary;
    }
}

.title {
    font-size: 34px;
    line-height: 40px;
    color: $primary;
}

.page-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

// Input number fix

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
