.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.modal__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.modal__container {
    background-color: #fff;
    padding: 60px 70px;
    max-width: 465px;
    max-height: 100vh;
    border-radius: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;

    input {
        height: 45px;
    }
}

.modal__title {
    margin-bottom: 30px;
    color: $primary;
    font-weight: 700;
}

.modal__subtitle {
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 40px;
}

.modal__btn {
    width: 100%;
}

.modal__close {
    position: absolute;
    background: url('../images/close-icon.svg') center no-repeat;
    right: -1px;
    top: -1px;
    background-color: $primary;
    border: 0;
    width: 58px;
    height: 58px;
    font-size: 24px;
    border-radius: 0px 2px;
    color: #ffffff;
    cursor: pointer;
}

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
}

/**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}